page-appointments {
    .app-bar-footer{
        border: 0px f9f9f9 solid;
        background-color: transparent !important;
        padding: 0px 10px !important;
    }
    ion-list{ 
        color: #000000;
        margin: 5px 10px !important;
       
        ion-item{
            background-color: #f5fafc !important; 
            border: 0.5px #f5f6f7 solid !important; 
            margin: 2.5px 0px !important;
            box-shadow: 0 0 5px #aab1b4;
            border-radius: 3px !important;
        }
        .item-inner{
            border: none !important;
        }
    }


}
